{
  "root": true,
  "env": {
    "browser": true,
    "node": true,
    "mocha": true
  },
  "extends": [
    "kentcdodds/best-practices",
    "kentcdodds/possible-errors",
    "kentcdodds/mocha"
  ],
  "rules": {
    "semi": "warn"
  }
}